          <h1><%= title %> I'm <a href="<%= url %>" target="_blank" ref="noopenenoreferrer"><%= name %></a></h1>
          <p><%= description %></p>
          <div>
            <a class="decoration" href="<%= socials.github.url %>" target="_blank" ref="noopenenoreferrer"><%= socials.github.title %></a>
            <a class="decoration" href="<%= socials.twitter.url %>" target="_blank" ref="noopenenoreferrer"><%= socials.twitter.title %></a>
          </div>
